.header{
    background-color: white;
    text-align: center;
    padding: 20px;
    background-color:$vanilacolor;
    margin-bottom: 30px;
    &__image{
        width:150px;
        height: 150px;
        border-radius: 50%;
    }
    &__title{
        text-align: center;
        font-family: $mainFont;
        color:$yellowcolor;
        font-size: 45px;
    }
}